{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
        Dougal.AI - розумний помічний для сучасного бізнесу
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static 'dougal/css/material-kit.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'dougal/demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="login-page sidebar-collapse">
 <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container">
              <div class="navbar-translate">
                <a class="navbar-brand" href="{% url 'workspace' %}">Dougal.AI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                  <li class="active nav-item">
                    <a href="{% url 'workspace' %}" class="nav-link">
                      <i class="material-icons">explore</i> Події
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'imports' %}" class="nav-link">
                      <i class="material-icons">import_export</i> Імпорт
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="material-icons">account_circle</i> Профіль
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                      <i class="material-icons">exit_to_app</i> Вийти
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          {% block content %}
          {% endblock %}
  </div>
  <!--   Core JS Files   -->
  <script src="{% static 'dougal/js/core/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'dougal/js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'dougal/js/core/bootstrap-material-design.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'dougal/js/plugins/moment.min.js' %}"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="{% static 'dougal/js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'dougal/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>

  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'dougal/js/material-kit.js' %}" type="text/javascript"></script>
</body>

</html>