{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Dougal.AI - розумний помічний для сучасного бізнесу
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static 'dougal/css/material-kit.min.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'dougal/demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="landing-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="{% url 'index' %}">
          Dougal.AI </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">apps</i> Продукти
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="{% url 'workspace' %}" class="dropdown-item">
                <i class="material-icons">layers</i> Grasp
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}" onclick="scrollToDownload()">
              <i class="material-icons">work</i> Увійти
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}
 
  <footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="{% url 'index' %}">
              Dougal.AI
            </a>
          </li>
          <li>
            <a href="{% url 'index' %}#team">
              Про нас
            </a>
          </li>
          <li>
            <a href="{% url 'index' %}">
              Ціни
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="#" target="_blank">Dougal.AI</a>.
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="{% static 'dougal/js/core/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'dougal/js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'dougal/js/core/bootstrap-material-design.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'dougal/js/plugins/moment.min.js' %}"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="{% static 'dougal/js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'dougal/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'dougal/js/material-kit.js' %}" type="text/javascript"></script>
</body>

</html>