{% extends 'dougal/basework.html' %}
{% load static %}
{% block content %}
<div class="section section-white">
        <div class="container">
          <!--                 nav pills -->
          <div id="navigation-pills">
            <div class="title">
              <h3>Імпорт даних</h3>
            </div>

            {% if error_message %}
                <div class="alert alert-danger" role="alert" style="margin:15px;">
                  {{ error_message }}
                </div>
            {% endif %}

            {% if success_message %}
                <div class="alert alert-success" role="alert" style="margin:15px;">
                  {{ success_message }}
                </div>
             {% endif %}

            <div class="row">
              <div class="col-lg-8 col-md-8">
                <ul class="nav nav-pills nav-pills-icons" role="tablist">
                  <!--
                                  color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                              -->
                  <li class="nav-item">
                    <a class="nav-link active show" href="#dashboard-1" role="tab" data-toggle="tab" aria-selected="true">
                      <i class="material-icons">file_copy</i> Загрузка файлів
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link show" href="#plugin" role="tab" data-toggle="tab" aria-selected="true">
                      <i class="material-icons">extension</i> API інтеграція
                    </a>
                  </li>

                  <li class="nav-item">
                        <a class="nav-link" href="#data-managment" role="tab" data-toggle="tab" aria-selected="false">
                          <i class="material-icons">delete</i> Управління даними
                        </a>
                    </li>
                </ul>
                <div class="tab-content tab-space">
                  <div class="tab-pane active show" id="dashboard-1">
                    Загрузіть історію поведінки ваших користувачів у csv файлах
                    <br>
                    Для аналізу нам потрібна інформація про користувачів, існуючі подорожі та подорожі клієнтів
                    <br>

                    <form class="tab-pane active show" style="margin-top: 20px;" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" id="users_doc" name="users_doc" class="form-control-file">

                        <input type="file" id="events_doc" name="events_doc" class="form-control-file">

                        <input type="file" id="visits_doc" name="visits_doc" class="form-control-file">

                        <button type="submit" class="btn btn-primary">Загрузити</button>
                    </form>
                    
                  </div>

                  <div class="tab-pane" id="plugin">
                    API ще у розробці, ми повідомим вас коли він стане доступним
                    <br>
                  </div>

                  <div class="tab-pane" id="data-managment">
                        Якщо ваші данні вже не актуальні ви можете їх видалити з нашого сервісу
                        <br>
                        <div class="row">
                                <button class="btn btn-danger">Видалити</button>
                        </div>
                      </div>
                </div>
              </div>
            
            </div>
          </div>
          <!--                 end nav pills -->
        </div>
      </div>
{% endblock %}