{% extends 'dougal/base.html' %}
{% load static %}
{% block content %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('/static/dougal/img/profile_city.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">Розумний помічник для сучасного бізнесу</h1>
        <h4>Використовуйте персоналізацію контенту для подорожей разом з нами!</h4>
        <br>
        <a href="{% url 'login' %}" target="_blank" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i>  Почати!
        </a>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">Що ви отримаєте?</h2>
          <h5 class="description">Персоналізація є обов'язковим компонентом сучасного бізнесу. Разом з нами ви отримаєте повне розуміння потреб ваших клієнтів</h5>
        </div>
      </div>
      <div class="features">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="material-icons">shop</i>
              </div>
              <h4 class="info-title">Рекомендаційна система</h4>
              <p>Використовуйте ваші дані щоб зрозуміти яка саме пропозиція цікава вашим клієнтам. Алгоритми машинного навчання допоможуть вам з цим!</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-success">
                <i class="material-icons">supervisor_account</i>
              </div>
              <h4 class="info-title">Ціноутворення</h4>
              <p>Пропозиція повинна відподвідати можливостям ваших клієнтів, отже підбирайте ціну персонально для клієнта.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">trending_up</i>
              </div>
              <h4 class="info-title">Прогнозування продажів</h4>
              <p>Оптимізуйте організацію подорожей для того щоб усі клієнти були задоволенні</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section text-center" id="team">
      <h2 class="title">Наша команда</h2>
      <div class="team">
        <div class="row">
          <div class="col-md-4">
            <div class="team-player">
              <div class="card card-plain">
                <div class="col-md-6 ml-auto mr-auto">
                  <img src="/static/dougal/img/faces/avatar.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                </div>
                <h4 class="card-title">Гунько Олексій
                  <br>
                  <small class="card-description text-muted">Розробник</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">Відповідальний за розробку системи та алгоритмів штучного інтелекту</p>
                </div>
                <div class="card-footer justify-content-center">
                  <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                  <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <div class="card card-plain">
                <div class="col-md-6 ml-auto mr-auto">
                  <img src="/static/dougal/img/faces/christian.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                </div>
                <h4 class="card-title">Віктор Юрченко
                  <br>
                  <small class="card-description text-muted">Менеджер продукту</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">Експерт у створення зручних та доступних продуктів</p>
                </div>
                <div class="card-footer justify-content-center">
                  <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                  <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <div class="card card-plain">
                <div class="col-md-6 ml-auto mr-auto">
                  <img src="/static/dougal/img/faces/kendall.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                </div>
                <h4 class="card-title">Григорук Леонід
                  <br>
                  <small class="card-description text-muted">DevOps</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">Відповідальний за підтримку інфраструктури та забезпечення якості</p>
                </div>
                <div class="card-footer justify-content-center">
                  <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                  <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-contacts">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="text-center title">Зв'язатись з нами</h2>
          <h4 class="text-center description">Якщо ви розумієте переваги використання штучного інтелекту у свому проекті - ми готові до співпраці!</h4>
          <form class="contact-form" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Ваше ім'я</label>
                  <input type="text" class="form-control" name="name" id="name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Email</label>
                  <input type="email" class="form-control" name="email" id="email">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="message" class="bmd-label-floating">Текст</label>
              <textarea type="email" class="form-control" rows="4" id="message" name="message"></textarea>
            </div>
            <div class="row">
              <div class="col-md-4 ml-auto mr-auto text-center">
                <button class="btn btn-primary btn-raised">
                  Відіслати
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}