{% extends 'dougal/baselogin.html' %}
{% load static %}
{% block content %}
<div class="page-header header-filter" style="background-image: url('/static/dougal/img/bg7.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" method="POST">
                {% csrf_token %}
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Увійти</h4>
                
              </div>
              <p class="description text-center">або зв'яжіться з нами для реєстрації</p>
              <div class="card-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email...">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password...">
                </div>
              </div>
              <div class="footer text-center">
                <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">Увійти</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}