{% extends 'dougal/basework.html' %}
{% load static %}
{% block content %}
<div class="section section-white" style="margin-top: 0%;">
        <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="row">
                  <div class="col-md-3">
                    <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
                      <!--
                                          color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                      -->
                      <li class="nav-item">
                        <a class="nav-link active show" href="#ideas" role="tab" data-toggle="tab" aria-selected="true">
                          <i class="material-icons">assignment_turned_in</i> Ідеї
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#history" role="tab" data-toggle="tab" aria-selected="false">
                          <i class="material-icons">calendar_today</i> Історія
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-8">
                    <div class="tab-content">
                      <div class="tab-pane active show" id="ideas">
                        <div class="container">
                            <div class="row">
                                <div class="card card-nav-tabs">
                                    <div class="card-header card-header-info">
                                      <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                      <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                          <ul class="nav nav-tabs" data-tabs="tabs">
                                            <li class="nav-item">
                                              <a class="nav-link active" href="#profile" data-toggle="tab">
                                                <i class="material-icons">face</i> Personalization
                                              </a>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card-body ">
                                      <div class="tab-content text-center">
                                        <div class="tab-pane active" id="profile">
                                          <p>We've found 30 users that can be intrested in event "The Shadow of Chernobyl"</p>
                                          <p><a href="#"> Tips: how to handle it?</a></p>
                                          <button class="btn btn-success">Done</button>
                                          <button class="btn btn-default">Open list</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="card card-nav-tabs">
                                      <div class="card-header card-header-warning">
                                        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                        <div class="nav-tabs-navigation">
                                          <div class="nav-tabs-wrapper">
                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                              <li class="nav-item">
                                                <a class="nav-link active" href="#profile" data-toggle="tab">
                                                  <i class="material-icons">warning</i> Churn prediction
                                                </a>
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card-body ">
                                        <div class="tab-content text-center">
                                          <div class="tab-pane active" id="profile">
                                            <p>50 users has high risk of churn! Consider activities for retention!</p>
                                            <p><a href="#"> Tips: how to handle it?</a></p>
                                          <button class="btn btn-success">Done</button>
                                          <button class="btn btn-default">Open list</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="card card-nav-tabs">
                                        <div class="card-header card-header-success">
                                          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                          <div class="nav-tabs-navigation">
                                            <div class="nav-tabs-wrapper">
                                              <ul class="nav nav-tabs" data-tabs="tabs">
                                                <li class="nav-item">
                                                  <a class="nav-link active" href="#profile" data-toggle="tab">
                                                    <i class="material-icons">cake</i> Loyality
                                                  </a>
                                                </li>
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card-body">
                                          <div class="tab-content text-center">
                                            <div class="tab-pane active" id="profile">
                                              <p>Interest for event "BlackSea trip" increased at 30%!</p>
                                              <p><a href="#"> Tips: how to handle it?</a></p>
                                              <button class="btn btn-success">Done</button>
                                              <button class="btn btn-default">Open list</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                            </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="history">
                        Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                        <br>
                        <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--                 end nav pills -->
        </div>


      {% endblock %}